@use "../abstracts/variables/colors" as colors;

.services-block {
    background-color: colors.$color__dark-blue;
    color: colors.$color__primary-white;
}

.services-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.service-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    background-color: colors.$color__primary-blue;

    .service-card__body {
        display: flex;
        flex-direction: column;
        padding: 32px 32px 40px;
        width: 100%;
        order: 1;
    }

    .service-card__icon {
        display: flex;
        justify-content: center;
        border-radius: 16px 16px 0 0;
        padding: 20px 32px;
        order: 0;

        & > img {
            border-radius: 100px;
            height: 64px;
            min-width: 64px;
            width: 64px;
        }
    }
}